<div class='main-bodydivone-inner2'>
	<div class='footer-part1'>
		<img src='images/WzGHb0V.gif' style='height:100%;width:100%;float:left;'>
	</div>
	<div class='footer-part2'>
		<div class='midfooter-space'>
		</div>
		<div class='main-bodydivone-inner2-links'>
			<div class='main-bodydivone-inner2-linkscenter'>
				<div class='inner2-linkscenter-parts1'>
					<a target='_blank' href='' ><img src='images/facebook.png' class='inner2-linkscenter-parts-images'> </a>
				</div>
				<div class='inner2-linkscenter-parts2'>
					<a target='_blank' href='' ><img src='images/google-plus.png' class='inner2-linkscenter-parts-images'> </a>
				</div>
				<div class='inner2-linkscenter-parts3'>
					<a target='_blank' href='' ><img src='images/twitter.gif' class='inner2-linkscenter-parts-images'> </a>
				</div>
				<div class='inner2-linkscenter-parts4'>
					<a target='_blank' href='' ><img src='images/instagram.png' class='inner2-linkscenter-parts-images'> </a>
				</div>
			</div>
		</div>
	</div>
	<div class='footer-part1'>
		<img src='images/WzGHb0V.gif' style='height:100%;width:100%;float:left;'>
	</div>
</div>