.main-header
	.main-header-inner
		a(href='./' class='mainheaderlink-astyle')
			p(class='mainheaderlink-astyleptext') Home
		a(href='./aboutme' class='mainheaderlink-astyle')
			p(class='mainheaderlink-astyleptext') About Me
		a(href='./myprojects' class='mainheaderlink-astyle')
			p(class='mainheaderlink-astyleptext') Projects
		a(href='./services' class='mainheaderlink-astyle')
			p(class='mainheaderlink-astyleptext') Services
		a(href='./contactus' class='mainheaderlink-astyle')
			p(class='mainheaderlink-astyleptext') Contact us