doctype html
<html(lang='en')>
	<head>
		title Hello, World!
		link(rel='stylesheet', href='/css/maincss.css')
	</head>
	<body>
		<div class='fullbodydiv'>
			// calling Header
			include /header
		<div class='main-bodydivone'>		
			<div class='main-bodydivone-inner'>
				<div class='detail-heading-div'>
					<p class='heding-text' > Welcome to the Amritpal Portfolio </p>					
				</div>
				// detail in text form
				<p class='all-detail-text'>
					<br> I am  Website desiner and Developer. From scholl i love coding and very first time when i am intract with computer that time i am in 8th class (last quater of class near exam)
					<br>
					<br> From that time coding is like adventure for me. My goodness from school i have best teacher and that is way till now i am learn many computer languages and still learning every day new things.
					<br>
					<br>
					<b class='all-detail-text-headings'>Personal Interests -: </b> Programing, Basket ball, Coffee, movies
					<br>
					<br>
					<b class='all-detail-text-headings'>Current Location -: </b> ON, Canada
					<br>
					<br>
					<b class='all-detail-text-headings'>Booking Agent -: </b>+1 416 1234567
				</p>
				
			</div>
			// calling Footer
			include /footer	
		</div>
	</body>
</html>