doctype html
<html(lang='en')>
	<head>
		title About me
		link(rel='stylesheet', href='/css/maincss.css')
	</head>
	<body>
		<div class='fullbodydiv'>
			// calling Header
			include /header
		<div class='main-bodydivone'>		
			<div class='main-bodydivone-inner'>
				<div class='detail-heading-div'>
					<p class='heding-text' > My Projects </p>					
				</div>
				<div class='myprojectmaindiv'>
					// project list start here
					<div class='myproject-detaildiv'>
						<div class='myproject-detailinnerdiv'>
							<div class='myproject-detailpicdiv'>
								<img src='images/computer-codding-coding-programing.jpg' class='myproject-detailpic'>
							</div>
							<div class='myproject-detailtextdiv'>
								<h3 class='myproject-detailheadertext'> Calculater </h3>
								<p class='myproject-detailsubtext'> <b> Description: </b> I make a web based Calculater which is fully functional and doing all oprations. its made with only JavaScript means all load on clint side </p>
								<p class='myproject-detailsubtext'> <b> Used Language: </b> Frontend with HTML, CSS and Developed with JavaScript </p>
							</div>
						</div>
					</div>
					<div class='myproject-detaildiv'>
						<div class='myproject-detailinnerdiv'>
							<div class='myproject-detailpicdiv'>
								<img src='images/alphabet-game.png' class='myproject-detailpic'>
							</div>
							<div class='myproject-detailtextdiv'>
								<h3 class='myproject-detailheadertext'> Game </h3>
								<p class='myproject-detailsubtext'> <b> Description: </b> its a puzzle alphabet game which is used for becaming master in spelling </p>
								<p class='myproject-detailsubtext'> <b> Used Language: </b> Frontend with HTML, CSS and Developed with JavaScript, jquery </p>
							</div>
						</div>
					</div>
					<div class='myproject-detaildiv'>
						<div class='myproject-detailinnerdiv'>
							<div class='myproject-detailpicdiv'>
								<img src='images/web.jpg' class='myproject-detailpic'>
							</div>
							<div class='myproject-detailtextdiv'>
								<h3 class='myproject-detailheadertext'> Website </h3>
								<p class='myproject-detailsubtext'> <b> Description: </b> Website for sell and buy product. This website secure with login. its my nodejs work in pug frame work   </p>
								<p class='myproject-detailsubtext'> <b> Used Language: </b> Frontend with HTML, CSS and Developed with JavaScript, Nodejs, pug temlate ExpressJS etc with MongoDB. </p>
							</div>
						</div>
					</div>
					// project list end here
				</div>
				
			</div>
			// calling Footer
			include /footer	
		</div>
	</body>
</html>