doctype html
<html(lang='en')>
	<head>
		title About me
		link(rel='stylesheet', href='/css/maincss.css')
	</head>
	<body>
		<div class='fullbodydiv'>
			include /header
		<div class='main-bodydivone'>		
			<div class='main-bodydivone-inner'>
				<div class='detail-heading-div'>
					<p class='heding-text' > My Services </p>					
				</div>
				<div class='myprojectmaindiv'>
					// Services list left side start here
					<div class='servicemainleftdiv'>
						<div class='servicemaininnertdiv'>
							<div class='servicepicdiv'>
								<div class='servicepicdiv'>
									<img src='images/web.jpg' class='servicepic'>
								</div>
								<h3 class='myproject-detailheadertext'> Website Designing</h3>
								<p class='services-detailsubtext'><b>Using:</b> HTML, CSS, Jquery, Bootstrap etc. </p>
								<div class='emptydiv'></div>
							</div>
						</div>
					</div>
					// Services list left side end here
					// Services list Right side start here
					<div class='servicemainrightdiv'>
						<div class='servicemaininnertdiv'>
							<div class='servicepicdiv'>
								<div class='servicepicdiv'>
									<img src='images/devlopment.png' class='servicepic'>
								</div>
								<h3 class='myproject-detailheadertext'> Website Development</h3>
								<p class='services-detailsubtext'><b>Using:</b> NodeJS, PUG temlate, PHP, Mysql, MongoDB etc </p>
								<div class='emptydiv'></div>
							</div>
						</div>
					</div>
					// Services list Right side end here
				</div>
				
			</div>
			include /footer	
		</div>
	</body>
</html>